@media (max-width: 990px) {
  td, th {
    margin-left: 6%;
    display: block;
    border: none;
    text-align: center;
    align-items: center;
  }
  .buscador{
    margin-right: 2%;
    float: left;
  }
  
  td {
    border-bottom: 1px solid #dddddd;
    position: relative;
    text-align: center;
    align-items: center;
  }
  
  td::before {
    align-items: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
   
    white-space: nowrap;
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  .actualizar{
    margin-top: 1em;
  }
  .p-button {
    color: #fff;
    background: #14B8A6;
    border: 1px solid #14B8A6;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    transition: background-color .2s,color .2s,border-color .2s,box-shadow .2s;
    border-radius: 6px;
    width: 70px;
}
}