<app-navbar></app-navbar>
<style>
  ::ng-deep .ui-galleria-dots > li {
    background-color: red !important;
  }
</style>
<section style="background-color: #eee;">
    <div class="container py-5">
      <div class="row">
        <div class="col-4">
          <h3>VEHÍCULO</h3>
        </div>
        <div class="col-8">
          <h3>INFORMACION</h3>
        </div>
      </div>
      
  
      <div class="row">
        <div class="col-lg-4">
            <div class="card mb-4">
              <div class="card-body text-center" *ngIf="car">
                <p-galleria *ngIf="car.listImages.length<=3" [value]="car.listImages" 
                [containerStyle]="{'max-width': '420px'}" 
                [numVisible]="3" 
                
                [showIndicatorsOnItem]="true" 
                [showIndicators]="true" 
                indicatorsPosition="bottom" 
                [showThumbnails]="false">
      
           <ng-template pTemplate="item" let-img>
                  <img  (click)="deleteImage(img.id)" [src]="img.img"
                       style="width: 100%; 
                              display: block;" />
           </ng-template>
      
           <ng-template pTemplate="indicator" let-i>
                  <div style="background: white; 
                              padding: 5px; 
                              border-radius: 10px">
                         <span style="color: rgb(255, 51, 0); 
                                      cursor: pointer">
                                      
                         </span>
                  </div>
           </ng-template>
    </p-galleria>
                  
         
<p-galleria *ngIf="car.listImages.length>3" [value]="car.listImages" [autoPlay]="true" [circular]="true"  [numVisible]="5"  [containerStyle]="{ 'max-width': '640px' }"> 
  <ng-template pTemplate="item" let-item>
      <img (click)="deleteImage(item.id)" [src]="item.img" style="width: 100%;" />
  </ng-template>
  <ng-template pTemplate="thumbnail" let-item>
      <div class="grid grid-nogutter justify-content-center">
          <img class="img-fluid" [src]="item.img" />
      </div>
  </ng-template>
</p-galleria>
                
                
               <!--<p-galleria [value]="car.listImages" 
                [containerStyle]="{'max-width': '500px'}" 
                [numVisible]="3" 
                [showIndicatorsOnItem]="true" 
                [showIndicators]="true" 
                indicatorsPosition="bottom" 
                [showThumbnails]="false">
      
           <ng-template pTemplate="item" let-img>
                  <img (click)="deleteImage(img.id)" [src]="img.img" 
                       style="width: 100%; 
                              display: block;" />
                              
                  
           </ng-template>
      
           <ng-template pTemplate="indicator" let-i>
                  
                  <div style="background: white; 
                              padding: 5px; 
                              border-radius: 10px">
                         <span style="color: rgb(255, 51, 0); 
                                      cursor: pointer">
                               
                         </span>
                  </div>
                  
           </ng-template>
    </p-galleria>-->
                <h5 class="my-3" name="name"><b>Marca: </b>{{car.name_exemplary.name_brand.name_brand}}</h5>
                <p class="text-muted mb-1"><b>Modelo: </b>{{car.name_exemplary.name_exemplary}}</p>
                <p class="text-muted mb-1"><b>Número de bastidor: </b>{{car.num_bastidor}}</p>
                
              </div>
            </div>
            <div class="card mb-4">
              <div class="card-body text-center">
                <h4>Añadir imágenes:</h4>
                <form action="POST" [formGroup]="addImageForm" (ngSubmit)="addImages()" method="post">
                          <input class="form-control" aria-label="files" formControlName="files" type="file" id="formFiles" (change)="onFileChangeImage($event)">
                          <br>
                          <button type="submit" class="btn btn-primary" [disabled]="addImageForm.invalid">Añadir imagen</button>
                        </form>
              </div>

            </div>
           
          </div>
          <div class="col-lg-8" *ngIf="car" >
            
            <div class="card mb-4">
  
               
              <div class="card-body">
                <p>Servicio para añadir o eliminar imágenes, para borrar una imagen tan sólo debes hacer click encima de la imagen la cual desees eliminar.<br>
                  Si por el contrario desea añadir una imagen, debajo de la imagen posee un formulario en el cual se puede añadir tantas imagenes como desee.
                  
                </p>
                  
              </div>
            
            </div>
          </div>
      </div>
      
    </div>
  </section>
  <app-footer></app-footer>
  