<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<app-navbar></app-navbar>
<div class="container ">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-md-9">
            <div class="ibox">
                <div class="ibox-title">
                   
                    <h5 class="mt-4">Elementos en el carrito:</h5>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table shoping-cart-table">
                            <tbody>
                            <tr *ngFor="let car of listShoppingCart; let i = index">
                                
                                <td width="300">
                                    
                                    <div class="cart-product-imitation">
                                        <td>
                                            <p-galleria  [value]="car.listImages" 
                                          [containerStyle]="{'max-width': '420px'}" 
                                          [numVisible]="3" 
                                          
                                          [showIndicatorsOnItem]="true" 
                                          [showIndicators]="true" 
                                          indicatorsPosition="bottom" 
                                          [showThumbnails]="false">
                                
                                     <ng-template pTemplate="item" let-img>
                                            <img [routerLink]="['/cars/car', car.num_bastidor]" [src]="img.img"
                                                 style="width: 100%; 
                                                        display: block;" />
                                     </ng-template>
                                
                                     <ng-template pTemplate="indicator" let-i>
                                            <div style="background: white; 
                                                        padding: 5px; 
                                                        border-radius: 10px">
                                                   <span style="color: rgb(255, 51, 0); 
                                                                cursor: pointer">
                                                                
                                                   </span>
                                            </div>
                                     </ng-template>
                              </p-galleria>
                              
                              
                                            <!--<img src="{{car.listImages[0].img}}" width="250px" height="160px">-->
                                            
                                          </td>
                                    </div>
                                </td>
                                <td class="desc">
                                    <h3>
                                    
                                       {{car.name_exemplary.name_brand.name_brand}} {{car.name_exemplary.name_exemplary}}
                                  
                                    </h3>
                                    <p class="small">
                                        Potencia: {{car.hp}}<br>
                                        Centímetros Cúbicos: {{car.cubic_cent}}<br>
                                        Año: {{car.year}}<br>

                                    </p>
                                    <dl class="small m-b-none">
                                        <dt>Detalles de la marca:</dt>
                                        <dd>Nacionalidad: {{car.name_exemplary.name_brand.country}}</dd>
                                    </dl>

                                    
                                </td>

                                
                                
                                <td>
                                    <h4>
                                       {{car.price}}€
                                    </h4>
                                </td>
                                <td width="65">
                                    <button class="btn btn-danger" (click)="deleteItem(i)">Eliminar</button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                
                
                
               
                <div class="ibox-content">
                   

                       <button type="submit" *ngIf="listShoppingCart.length!=0" class="btn btn-primary pull-right" (click)="Purchase()"> Comprar</button> 


                 
                    

                        <button class="btn btn-white" [routerLink]="['/cars/listCar']"><i class="fa fa-arrow-left"></i>  Volver </button>
                        
                    
                    </div>
            </div>

        </div>
        <div class="col-md-3">
            <div class="ibox">
                <div class="ibox-title">
                        <h5>Precio Total</h5>
                </div>
                <div class="ibox-content">
                   
                    <h2 class="font-bold">
                        {{total}}€
                    </h2>

                    <hr>
                    
                </div>
            </div>

            

            
        </div>
    </div>
</div>
</div>

<div class=" separacion">
    <app-footer></app-footer>

</div>
